body{
    padding: 0px;
    margin: 0px;
}

div.bg{
    border-radius: 20px;
    display: flex;
   

}

div.text{
    background-color: rgb(155, 27, 27);
    color: white;
    width: 100vw;
    padding-top:200px;
    padding-left: 50px;
}

p.hello{
    font-size: 20px;
    letter-spacing: 2px;
}

p.tee{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 900;
}

p.web{
    font-size: 25px;
    letter-spacing: 2px;
}

div.photo{
    
    
}

img#pic{
   height: 100vh;
}